@import "tailwindcss";

body {
  background-color: black ; /* softer dark */
  color: white;
  font-family: system-ui, sans-serif;
}

/*to remove the spinner in input type number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* #1e2939 */

/* rgb(105, 108, 160) */

@keyframes spin-180 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-180 {
  animation: spin-180 2s ease-in-out infinite;
}

